@media (max-width:1220px){

}//END MEDIA 1220px

@media (max-width: 1150px) {
    .content-mainblock {
        // .content-mainblock__product-body
    
        &__product-body {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}//END MEDIA 1100px

@media (max-width:992px){
    .mainblock {

        // .mainblock__inner
    
        &__inner {
          flex-direction: column;
        }
        // .mainblock__sidebar

	&__sidebar {
		max-width: 100%;
		min-width: 100%;
        padding-top: 0;
	}

	// .mainblock__content

	&__content {
		max-width: 100%;
	}
    }    
    .item-sidebar {

        // .item-sidebar__list
    
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap:15px;
        }
    
 
    }
    .cover {
     
        &__image{
           & img{
               object-fit: cover;
           }
        }
        
       }
       .content-mainblock {

        // .content-mainblock__contacts-body
        &__contacts-body {
            align-items: normal;
        }
    }
    .item-contacts {
 
        &__map{
            max-width: 100%;
            min-width: 100%;
        }
    }
    .tippy-tooltip{
       display: none;
    }
    
}//END MEDIA 992px

@media (max-width:1070px) {
    .header{
        &__menu {
            border-radius: 0px;
    }
    &__logo {
		&_sublogo{
			display: block;
		}
	}
}
.action{

	&__label{
        display: none;
		&_sublabel{
			display: block;
            margin-bottom: 25px;
            font-size: 22px;
		}
	}
}
.info-head {
    display: none;
	&_subinfohead{
		display: flex;
        flex-direction: column;
        gap:15px;
        margin-bottom: 50px;
	}
}
}//END MEDIA 1070px
@media (max-width:820px) {
    .footer{
        &__body{
          flex-direction: column;
          gap:30px;
        }
    }
}

@media (max-width:768px){
    .info-product{
        
        &__text{
            line-height: 20px;
        }
        &__row{
            gap:20px;
            flex-direction: column;
        }
        &__image{
            max-width: 190px;
        }
    }
    .content-mainblock__title_photos{
        text-align: center;
    }

}//END MEDIA 768px

@media (max-width:580px){
    .header{
   &__logo{
    font-size: 21px;
   }
}
.content-mainblock {
    // .content-mainblock__product-body

    &__product-body {
        grid-template-columns: repeat(1, 1fr);
    }
}

}//END MEDIA 580px

@media (max-width:420px){
    .item-product {
        // .item-product__info
        &__info {
            padding: 5px 9px;
        }
    }
}//END MEDIA 420px


@media (max-width:280px){

}//END MEDIA 280px


 