@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #514b4b;
  background-color: #d5dadc;
}

._ibg {
  position: relative;
}
._ibg img {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
}

.title {
  font-size: 32px;
  color: #514b4b;
}

.subtitle {
  font-size: 25px;
}

/*===========================HEADER========================================*/
.header {
  margin-bottom: 35px;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 140px;
}
.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  text-align: center;
}
.header__logo img {
  max-width: 100px;
}
.header__logo_sublogo {
  display: none;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.header__menu {
  padding: 10px 30px;
  background-color: rgba(242, 242, 242, 0.631372549);
  border-radius: 7px;
}
.header__navblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.action__title {
  font-weight: 500;
  color: #514b4b;
}
.action__label {
  font-weight: 400;
  font-size: 27px;
  color: #514b4b;
  text-align: center;
  letter-spacing: 3px;
}
.action__label_sublabel {
  display: none;
}

.info-head__social-link img {
  padding-right: 10px;
  position: relative;
  max-width: 40px;
}
.info-head__phone {
  font-weight: 500;
  color: #514b4b;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.info-head__phone:hover {
  color: #d8232a;
}
.info-head__phone img {
  padding-right: 10px;
  position: relative;
  top: -2px;
  max-width: 30px;
}
.info-head__worktime, .info-head__marketplace {
  font-size: 14px;
  color: #514b4b;
  font-weight: 500;
}
.info-head__worktime img, .info-head__marketplace img {
  padding-right: 10px;
  position: relative;
  top: -2px;
  left: 3px;
  max-width: 30px;
}
.info-head_subinfohead {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.menu__link {
  color: #706a6a;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  -webkit-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  -webkit-transition: width 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s;
  transition: width 0.6s ease 0s;
  height: 2px;
  background-color: #d8232a;
}
.menu__link:hover {
  color: #d8232a;
}
.menu__link:hover::after {
  width: 100%;
}

a.active {
  color: #CB4E5D;
}
a.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  -webkit-transition: width 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s;
  transition: width 0.6s ease 0s;
  height: 2px;
  background-color: #d8232a;
}
a.active::after {
  width: 100%;
}

.cover {
  position: relative;
  margin-bottom: 50px;
}
.cover__image {
  max-height: 325px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cover__image img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.arrow__next {
  color: #fff;
  opacity: 0.35;
}
.arrow__prev {
  color: #fff;
  opacity: 0.35;
}

.mainblock {
  padding-bottom: 50px;
}
.mainblock__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
}
.mainblock__inner_contacs-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mainblock__inner_photos-page {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.mainblock__sidebar {
  max-width: 350px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.mainblock__content {
  max-width: 795px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.mainblock__content_photos {
  min-width: 100%;
}

.sidebar__item {
  padding: 50px;
  background: rgba(242, 242, 242, 0.631372549);
  border-radius: 7px;
}
.sidebar__catalog-item {
  padding: 35px;
  background: rgba(242, 242, 242, 0.631372549);
  border-radius: 7px;
}

.item-sidebar__title {
  margin-bottom: 20px;
  color: #b42a3a;
}
.item-sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.item-sidebar__link {
  font-size: 15px;
  line-height: 1.3;
  color: #616161;
  position: relative;
  -webkit-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
}
.item-sidebar__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  -webkit-transition: width 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s;
  transition: width 0.6s ease 0s;
  height: 2px;
  background-color: #d8232a;
}
.item-sidebar__link:hover {
  color: #d8232a;
}
.item-sidebar__link:hover::after {
  width: 100%;
}
.item-sidebar__body-info {
  max-width: 1200px;
  min-height: 730px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  background: #FFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.info-sidebar__title {
  font-size: 23px;
  color: #323232;
  text-align: center;
  font-weight: 500;
  margin-bottom: 25px;
}
.info-sidebar__text {
  color: #514b4b;
  line-height: 27px;
  font-weight: 500;
  margin: 0 auto 25px auto;
  max-width: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.info-sidebar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-sidebar__image {
  max-width: 300px;
}

.item-catalog__link {
  font-size: 15px;
  line-height: 1.3;
  color: #6e6e6f;
  position: relative;
  -webkit-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
}
.item-catalog__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  -webkit-transition: width 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s;
  transition: width 0.6s ease 0s;
  height: 2px;
  background-color: #d8232a;
}
.item-catalog__link:hover {
  color: #d8232a;
}
.item-catalog__link:hover::after {
  width: 100%;
}

.content-mainblock__title {
  text-align: center;
  margin-bottom: 20px;
}
.content-mainblock__title_photos {
  text-align: left;
}
.content-mainblock__text {
  line-height: 1.5;
}
.content-mainblock__product-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 70px;
}
.content-mainblock_text-area {
  background-color: #e8e9ea;
  border-radius: 7px;
  padding: 35px;
}

.mainblock-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 85px 10px;
  background: #e8e9ea;
}

.item-product__image {
  max-width: 225px;
  min-height: 100%;
}
.item-product__image img {
  max-height: 140px;
}
.item-product__link {
  width: 100%;
}
.item-product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 230px;
  font-size: 15px;
  background: #e8e9ea;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: 500;
  margin-bottom: 20px;
}
.item-product__body-info {
  max-width: 800px;
  min-height: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  background: #FFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.info-product__weight span {
  font-weight: 900;
}
.info-product__price span {
  font-weight: 900;
}
.info-product__title {
  font-size: 23px;
  color: #323232;
  text-align: center;
  font-weight: 500;
  margin-bottom: 25px;
}
.info-product__text {
  color: #514b4b;
  line-height: 27px;
  font-weight: 500;
  margin: 0 auto 25px auto;
  max-width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.info-product__cover-logo {
  margin: 0 auto 25px auto;
  max-width: 75px;
}
.info-product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-product__image {
  max-width: 300px;
}
.info-product__close-btn {
  text-align: center;
}
.info-product__close-btn a {
  padding: 10px 55px;
  background: #b42a3a;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}

.link-product__item {
  padding: 10px 12px;
  background: #b42a3a;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  min-width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tippy-tooltip {
  color: #fff;
  background-color: #000;
}

.ourheroes {
  padding-bottom: 50px;
}
.ourheroes__title {
  text-align: center;
  margin-bottom: 30px;
}
.ourheroes__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
}
.ourheroes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 5px 13px;
  background-color: #e8e9ea;
}

.item-ourheroes__image img {
  min-height: 185px;
}
.item-ourheroes__name {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000;
  font-weight: 500;
}
.item-ourheroes__function {
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #000;
  font-weight: 500;
}

.footer {
  padding-bottom: 50px;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__label {
  text-transform: uppercase;
  font-size: 18px;
  color: #514b4b;
  margin-bottom: 25px;
  font-weight: 700;
  position: relative;
}
.footer__label::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #514b4b;
  bottom: -10px;
  left: 0;
}
.footer-hide-label {
  color: transparent;
}
.footer-hide-label::after {
  display: none;
}

.item-footer__text {
  max-width: 400px;
  color: #514b4b;
  line-height: 25px;
  font-weight: 500;
}
.item-footer__text a {
  color: #514b4b;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.menu-footer__link {
  color: #514b4b;
  font-size: 14px;
  font-weight: 500;
}

.content-mainblock__photos-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 250px));
  gap: 20px;
}
.content-mainblock__contacts-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 45px;
}
.content-mainblock__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.item-contacts__title {
  font-size: 15px;
  font-weight: 700;
}
.item-contacts__text {
  font-size: 20px;
}
.item-contacts__text a {
  color: #514b4b;
}
.item-contacts__text a img {
  position: relative;
  top: 2px;
}
.item-contacts__map {
  width: 100%;
  max-width: 725px;
  min-width: 640px;
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-figure::after {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.image-source-link {
  color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

@media (max-width: 1150px) {
  .content-mainblock__product-body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  .mainblock__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainblock__sidebar {
    max-width: 100%;
    min-width: 100%;
    padding-top: 0;
  }
  .mainblock__content {
    max-width: 100%;
  }
  .item-sidebar__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
  .cover__image img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content-mainblock__contacts-body {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .item-contacts__map {
    max-width: 100%;
    min-width: 100%;
  }
  .tippy-tooltip {
    display: none;
  }
}
@media (max-width: 1070px) {
  .header__menu {
    border-radius: 0px;
  }
  .header__logo_sublogo {
    display: block;
  }
  .action__label {
    display: none;
  }
  .action__label_sublabel {
    display: block;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .info-head {
    display: none;
  }
  .info-head_subinfohead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
  }
}
@media (max-width: 820px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .info-product__text {
    line-height: 20px;
  }
  .info-product__row {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-product__image {
    max-width: 190px;
  }
  .content-mainblock__title_photos {
    text-align: center;
  }
}
@media (max-width: 580px) {
  .header__logo {
    font-size: 21px;
  }
  .content-mainblock__product-body {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 420px) {
  .item-product__info {
    padding: 5px 9px;
  }
}
.header__burger {
  display: none;
}

@media (max-width: 1070px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 50;
    margin: 10px;
    background: #da212d;
    padding: 25px;
    border-radius: 7px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 24px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    top: 37px;
    height: 3px;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__burger:before {
    top: 11px;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 23px;
    background: #fff;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    top: 24px;
    background: #fff;
  }
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #d5dadc;
    padding: 130px 0px 0px 0px;
    text-align: center;
    z-index: 50;
  }
  .header__menu.active {
    right: 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
  }
  .menu__link {
    font-weight: 400;
    color: #514b4b;
    font-size: 30px;
    text-transform: uppercase;
  }
}