@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  color: #0A0A0A;
}

._ibg {
  position: relative;
}
._ibg img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #868585;
  text-transform: uppercase;
  padding: 0 0 60px 0;
}

.item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #303030;
}

@-webkit-keyframes animate_pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    border-radius: 50%;
  }
  70% {
    -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
    border-radius: 50%;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    border-radius: 50%;
  }
}

@keyframes animate_pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    border-radius: 50%;
  }
  70% {
    -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
    border-radius: 50%;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    border-radius: 50%;
  }
}
@-webkit-keyframes animate_pulse-black {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  70% {
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
}
@keyframes animate_pulse-black {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  70% {
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*===========================HEADER========================================*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  /* .header__body */
  /* .header__logo */
}
.header__body {
  text-align: center;
  padding: 70px 0 0px 0;
}
.cover-page {
  position: relative;
  /* .cover-page__body */
  /* .cover-page__label */
  /* .cover-page__title */
  /* .cover-page__subtitle */
  /* .cover-page__link */
  /* .cover-page__socials */
  /* .cover-page__image */
}
.cover-page__body {
  position: relative;
  text-align: center;
  z-index: 3;
  padding: 250px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.cover-page__label {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.cover-page__title, .cover-page h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 135.9375%;
  color: #FFFFFF;
}
.cover-page__subtitle, .cover-page h2 {
  font-size: 42px;
  line-height: 57px;
  color: #FFFFFF;
}
.cover-page__links {
  padding: 0px 0px 200px 0px;
}
.cover-page__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
}
.cover-page__image img {
  opacity: 0.8;
}

.consultation {
  /* .consultation__link */
}
.consultation__link {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 0 0px 0 25px;
}

.socials-page {
  padding: 85px 0 35px 0;
  text-align: center;
  /* .socials-page__item */
}
.socials-page__item:not(:last-child) {
  margin: 0 20px 0 0;
}

.main-link__arrow svg {
  position: relative;
  top: 43px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: animate_pulse 2.5s infinite;
          animation: animate_pulse 2.5s infinite;
}
.main-link__arrow svg:hover {
  padding: 0 15px 0 15px;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.page__servises {
  padding: 150px 0;
}

.servises-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}
.servises-page__columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}
.column-servises__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 55px;
}

.item-servises__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #303030;
  padding: 0 0 15px 0;
}
.item-servises__text {
  font-size: 14px;
  line-height: 135.7142857143%;
  color: #303030;
}

.page__green {
  padding: 0 0 150px 0;
}

.green-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}

.column-tab__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}
.column-tab__title {
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #303030;
  cursor: pointer;
}
.column-tab__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.body_column-tab {
  padding: 120px 0 100px 0;
}

.body_column-tab__image {
  max-width: 235px;
}
.body_column-tab__text {
  font-size: 14px;
  line-height: 135.7142857143%;
  color: #303030;
  max-width: 235px;
}

.column-tab {
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
}
.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.column-left__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-advantages {
  max-width: 235px;
}
.item-advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #303030;
  padding: 0 0 20px 0;
}
.item-advantages__text {
  font-size: 14px;
  line-height: 135.7142857143%;
  color: #303030;
  min-height: 100px;
}

.column-right__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-green__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.column-info-green__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #303030;
  padding: 0 0 22px 0;
}
.column-info-green__image {
  max-width: 600px;
}

.hidden-tab-content {
  display: none;
}

.active-tab {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-underline-offset: 7px;
  -webkit-animation: fadeIn 1.25s;
          animation: fadeIn 1.25s;
}

.tab__content {
  -webkit-animation: fadeIn 1.25s;
          animation: fadeIn 1.25s;
}

.steps-page {
  padding: 150px 0 150px 0;
}
.steps-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}
.steps-page__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}
.column-steps__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.item-steps__number {
  font-size: 14px;
  line-height: 135.7142857143%;
  color: #868585;
}
.item-steps__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #303030;
}
.item-steps__text {
  font-size: 14px;
  line-height: 135.7142857143%;
  color: #303030;
}

.subcover-page {
  padding: 0px 0 250px 0;
  position: relative;
  text-align: center;
}
.subcover-page__body {
  position: relative;
  z-index: 3;
  top: 130px;
}
.subcover-page__text {
  font-size: 42px;
  line-height: 135.7142857143%;
  color: #FFFFFF;
  max-width: 675px;
  margin: 0 auto;
}
.subcover-page__image {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.clients-page {
  padding: 150px 0 0 0;
}
.clients-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}
.clients-page__image {
  max-width: 510px;
}
.clients-page__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*=======================SLIDER=======================*/
.slider {
  position: relative;
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.slider .slick-arrow {
  position: absolute;
  top: 115%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
}

.slider .slick-arrow.slick-prev {
  left: 20%;
  background: url("../img/icons/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 70%;
  background: url("../img/icons/sl-arrow_r.svg") 0 0/100% no-repeat;
}

/*=======================SLIDER=======================*/
.description-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #303030;
  max-width: 480px;
}
.description-block__list {
  padding: 30px 0 0 50px;
}
.description-block__item {
  margin: 0 0 15px 0;
  line-height: 135.7142857143%;
  color: #303030;
}
.description-block__link {
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #303030;
  padding: 0 0 0 50px;
}
.description-block__link svg {
  position: relative;
  top: 45px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: animate_pulse-black 2.5s infinite;
          animation: animate_pulse-black 2.5s infinite;
}
.description-block__link svg:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media (max-width: 1170px) {
  .title {
    text-align: center;
    padding: 0 0 30px 0;
  }
  .servises-page {
    padding: 70px 0;
  }
  .servises-page__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .servises-page__columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
  .column-servises__row {
    gap: 40px;
  }
  .steps-page {
    padding: 70px 0;
  }
  .steps-page__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .steps-page__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
  .clients-page {
    padding: 70px 0 0 0;
  }
  .clients-page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 45px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients-page__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider .slick-arrow {
    top: 105%;
  }
  .slider .slick-arrow.slick-prev {
    left: 44%;
  }
  .slider .slick-arrow.slick-next {
    right: 44%;
  }
  .green-page {
    padding: 0 0 70px 0;
  }
  .green-page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 45px;
  }
  .column-info-green {
    max-width: 600px;
  }
  .column-info-green__text {
    font-size: 14px;
  }
  .column-tab__body {
    gap: 15px;
  }
  .column-tab__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .column-tab__title {
    font-size: 18px;
    line-height: 138.8888888889%;
    color: #303030;
    cursor: pointer;
  }
  .advantages__row {
    text-align: center;
  }
  .body_column-tab {
    padding: 60px 0 80px 0;
  }
  .column-tab__list {
    gap: 90px;
  }
  .main-link__arrow svg, .description-block__link svg {
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 992px) {
  .cover-page__body {
    padding: 180px 0 0 0;
  }
  .cover-page__label {
    padding: 0 0 30px 0;
  }
  .cover-page__title h1 {
    font-size: 45px;
    padding: 0 0 30px 0;
  }
  .cover-page__subtitle h2 {
    font-size: 25px;
    padding: 0 0 15px 0;
  }
  .cover-page__links {
    padding: 0 0 100px 0;
  }
}
@media (max-width: 820px) {
  .slider .slick-arrow.slick-prev {
    left: 35%;
  }
  .slider .slick-arrow.slick-next {
    right: 35%;
  }
  .description-block__title {
    text-align: center;
    font-size: 16px;
  }
  .description-block__list {
    padding: 30px 20px 0 20px;
    text-align: center;
  }
  .description-block__item {
    margin: 0 0 10px 0;
  }
  .description-block__link {
    padding: 0 0 0 0px;
    text-align: center;
  }
  .description-block__link svg {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 0px;
    padding: 0px 20px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@media (max-width: 670px) {
  @-webkit-keyframes animate_pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
    70% {
      -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
              box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
  }
  @keyframes animate_pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
    70% {
      -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
              box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
  }
  .subcover-page {
    padding: 0px 0 250px 0;
    position: relative;
    text-align: center;
  }
  .subcover-page__text {
    font-size: 27px;
  }
}
@media (max-width: 520px) {
  .advantages__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item-advantages {
    max-width: 300px;
  }
  .item-advantages__title {
    padding: 0 0 12px 0;
  }
  .item-advantages__text {
    min-height: 100%;
  }
  .column-left__row, .column-right__row {
    gap: 25px;
  }
  .column-tab__list {
    gap: 25px;
  }
  .column-tab__title {
    font-size: 15px;
    line-height: 166.6666666667%;
  }
}
@media (max-width: 420px) {
  .cover-page__title h1 {
    font-size: 35px;
    padding: 0 0 15px 0;
  }
  .cover-page__subtitle h2 {
    font-size: 20px;
  }
  .main-link__arrow svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .main-link__arrow svg {
    top: 5px;
  }
  .consultation__link {
    display: block;
    margin: 30px 0 0 0;
  }
  .body_column-tab__image {
    max-width: 235px;
  }
  .body_column-tab__text {
    font-size: 12px;
    line-height: 158.3333333333%;
    max-width: 160px;
  }
}
.header__burger {
  display: none;
}

@media (max-width: 823px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
    margin: 10px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    background: #fff;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    background: #fff;
  }
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
    padding: 130px 0px 0px 0px;
    text-align: center;
    z-index: 3;
  }
  .header__menu.active {
    right: 0;
  }
  .menu__list {
    display: block;
    left: -4%;
    margin: 0 0 80px 0;
  }
  .menu__link {
    color: #fff;
    font-size: 30px;
    line-height: 90px;
    text-transform: uppercase;
    font-weight: 900;
  }
}
@media (max-width: 440px) {
  .menu__link {
    font-size: 30px;
  }
}