@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

._ibg {
  position: relative;
}
._ibg img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1190px;
  margin: 0px auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 4;
}

.header__burger {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  position: relative;
}

.menu__link {
  color: #000;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (max-width: 870px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #F3E9E2;
    padding: 130px 0px 0px 40px;
    text-align: center;
    z-index: 3;
  }
  .header__menu.active {
    top: 0;
  }
  .menu__list {
    display: block;
    left: -4%;
  }
  .menu__link {
    color: #000;
    font-size: 40px;
    line-height: 115px;
    text-transform: uppercase;
    font-weight: 400;
  }
}
.main-block {
  position: relative;
}

.main-block__body {
  position: relative;
  padding: 368px 0 111px 0;
  max-width: 668px;
  z-index: 2;
}

.main-block__text {
  position: relative;
  font-size: 126px;
  line-height: 105%;
  color: #AEE8FB;
  -webkit-animation: showLeft 2s;
          animation: showLeft 2s;
}

@-webkit-keyframes showLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes showLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: right;
}
.discover {
  padding: 120px 0;
  background: #F5F5F5;
}

.discover__body {
  text-align: center;
  padding: 0 150px;
}

.discover__text {
  font-size: 44px;
  line-height: 120%;
  color: #000000;
  text-align: center;
  margin: 0 0 44px 0;
}

@media (max-width: 992px) {
  .main-block__text {
    font-size: 100px;
  }
  .discover {
    padding: 60px 0;
  }
  .discover__body {
    padding: 0px 40px;
  }
  .discover__text {
    font-size: 35px;
  }
  .programs__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 495px) {
  .main-block__text {
    font-size: 70px;
  }
  .discover {
    padding: 40px 0;
  }
  .discover__text {
    font-size: 25px;
    line-height: 40px;
  }
  .discover__body {
    padding: 0px 20px;
  }
}
.main__button {
  border: 1px solid #000;
  color: #000000;
  padding: 13px 25px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.provide {
  padding: 50px 0;
  background: #F3E9E2;
  min-height: 392px;
}

.provide__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 80px;
  line-height: 110%;
  color: #000000;
}

@media (max-width: 992px) {
  .provide__text {
    font-size: 60px;
  }
}
@media (max-width: 495px) {
  .provide__text {
    font-size: 40px;
    line-height: 60px;
  }
}
.programs {
  padding: 80px 0;
}

.title {
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 35px 0;
}

.programs__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.programs__column {
  padding: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-programs__image {
  display: block;
  padding: 26px 26px 20px 26px;
}
.item-programs__image img {
  border-radius: 10px;
}

.item-programs__text {
  font-size: 16px;
  line-height: 122%;
  text-align: center;
  color: #000000;
}

@media (max-width: 1103px) {
  .programs__column {
    padding: 0 5px;
    margin: 0 35px 50px 35px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .item-programs__image img {
    border-radius: 40px;
  }
  .item-programs__text {
    font-size: 30px;
    line-height: 160%;
  }
}
.item-btn {
  margin: 35px 104px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

@media (max-width: 495px) {
  .item-programs__text {
    font-size: 15px;
  }
  .item-programs__title {
    padding: 0 0 10px 0;
  }
  .item-programs__image {
    padding: 26px 26px 0px 26px;
  }
  .item-btn {
    margin: 12px 75px;
  }
}
@media (max-width: 365px) {
  .programs__column {
    margin: 0 0px 50px 0px;
  }
}
.item-programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-radius: 10px;
  background: #AEE8FB;
}

.color-item {
  background: #F3E9E2;
}

.item-programs__content {
  padding: 26px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-programs__title {
  text-align: center;
  padding: 0 0 20px 0;
}

.ourhelp {
  padding: 0 0 80px 0;
}

.ourhelp__title {
  text-align: right;
}

.ourhelp__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-ourhelp {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.ourhelp__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 570px;
          flex: 0 0 570px;
}

._color-text {
  background: #F3E9E2;
  border-radius: 20px;
}

.ourhelp__text {
  padding: 155px 111px 151px 88px;
  font-size: 44px;
  line-height: 120%;
  color: #000000;
}

@media (max-width: 1150px) {
  .ourhelp__text {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .item-ourhelp {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .ourhelp__image {
    padding: 0px 80px 20px 80px;
  }
  .ourhelp__image img {
    border-radius: 10px;
  }
}
@media (max-width: 580px) {
  .ourhelp__image {
    padding: 0px;
  }
  ._color-text {
    margin: 15px 0 0 0;
  }
}
.ourhelp__text {
  font-size: 40px;
}

@media (max-width: 992px) {
  .ourhelp__text {
    font-size: 28px;
  }
}
@media (max-width: 865px) {
  .ourhelp__text {
    font-size: 21px;
  }
}
@media (max-width: 495px) {
  .ourhelp__text {
    font-size: 20px;
    padding: 60px 45px 60px 45px;
  }
  ._color-text {
    margin: 15px 0 0 0;
  }
}
.numbers {
  padding: 0 0 80px 0;
}

.numbers__title {
  text-align: center;
}

.numbers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 39px 0 0 0;
}

.item-numbers {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-numbers_border {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

@media (max-width: 992px) {
  ._one-number {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 0 40px 0;
  }
  ._two-number,
._three-number {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .item-numbers_border {
    border: none;
  }
}
@media (max-width: 768px) {
  .item-numbers {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 0 50px 0;
  }
}
.item-numbers__value {
  font-size: 61px;
  line-height: 71px;
  color: #000000;
  padding: 0 0 30px 0;
}

.item-numbers__text {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  padding: 0 100px 0 100px;
}

@media (max-width: 495px) {
  .item-numbers__text {
    font-size: 12px;
  }
}
.resources {
  padding: 6px 0 60px 0;
}

.resources__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 40px;
}

.item__resources {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  border-radius: 10px;
  padding: 25px;
}

.item__resources__title {
  font-size: 58px;
  line-height: 110%;
  padding: 15px 0 0 0;
}

.item__resources__text {
  font-size: 15px;
  line-height: 130%;
  padding: 0 0 40px 0;
}

@media (max-width: 992px) {
  .resources__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item__resources {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
._one-resources {
  background: #AEE8FB;
}

._two-resources {
  color: #FF3B41;
  background: #F3E9E2;
}

._three-resources {
  color: #F3E9E2;
  background: #FF3B41;
}

._two-resources-btn {
  border: 1px solid #FF3B41;
  color: #FF3B41;
}

._three-resources-btn {
  border: 1px solid #F3E9E2;
  color: #fff;
}

.transformation {
  padding: 50px 0;
}

.transformation__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.transformation__image {
  margin: 0 0 40px 0;
}

.transformation__content {
  max-width: 800px;
}
.transformation__content > *:not(:last-child) {
  margin: 0 0 40px 0;
}

.transformation__title {
  font-size: 80px;
  line-height: 110%;
}

.transformation__text {
  font-size: 44px;
  line-height: 120%;
  color: #000000;
}

@media (max-width: 680px) {
  .transformation__title {
    font-size: 40px;
  }
  .transformation__text {
    font-size: 24px;
  }
}
/*=================================================getintouch=========================================================================*/
/*.getintouch__items{
	margin: 0 -15px;
}

@media (min-width: 992px) {
		.getintouch__items {
	margin: 0;
	display: flex;
	align-items: center;
}
}

@media (max-width: 992px) {
	.getintouch {
	padding: 50px 0;
	background: #F3F3F3;
}
		.getintouch__header {
margin: 0 0 50px 0;
}
}

@media (max-width: 767px) {
		.getintouch__header {
margin: 0 0 30px 0;
}
}


.getintouch__item {
flex: 0 1 33.333%;
}
.item-getintouch {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #fff;
padding: 50px 15px;
}


.item-getintouch > *:not(:last-child){
		margin: 0 0 15px 0;
	}

.item-getintouch__emails {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.item-getintouch__email{
	color: inherit;
	font-weight: 600;
	line-height: 171%;
	font-size: 14px;
	&:hover{text-decoration: underline;}
}

.item-getintouch__button {
min-height: 44px;
border: 1px solid #FF7B47;
border-radius: 5px;
color: #FF7B47;
display: flex;
line-height: 142%;
padding: 5px 20px;
font-weight: 600;
justify-content: center;
align-items:center;
text-align: center;
transition: all 0.3s ease 0s;
&:hover{background-color:#FF7B47; color: #fff; }
}*/
.footer {
  text-align: center;
  background: #F3E9E2;
  min-height: 290px;
}

.footer__copy {
  padding: 110px 0 15px 0;
  font-size: 13px;
  line-height: 15px;
  color: #000;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #000000;
}