@media (max-width: 992px) {
  .labels-header__label {
    padding-bottom: 15px;
    max-width: none;
    text-align: center;
  }
  .labels-header__label::before {
    display: none;
  }
  .top-header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15px;
  }
  .top-header__labels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .cover__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 100% !important;
  }
  .catalog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__items {
    max-width: 100%;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .item-catalog__title {
    max-width: 100%;
  }
  .articles__body {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .articles__item {
    grid-column: auto;
  }
  .articles__item:nth-child(1) {
    grid-column: auto;
  }
  .articles__item:nth-child(4) {
    grid-column: auto;
  }
  .articles__item:nth-child(7) {
    grid-column: auto;
  }
  .full-catalog__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-catalog__body.grid {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  .full-catalog__sidebar {
    max-width: 100%;
  }
  .catalog__spoiler {
    max-width: 100%;
  }
  .spoiler-catalog__link {
    max-width: 100%;
  }
  .form-catalog__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .item-spoiler__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content-cover__title {
    padding-top: 20px;
  }
  .catalog__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detail-item__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .spoiler-catalog__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .detail-item__sidebar {
    max-width: 100%;
  }
  .content-detail__action-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .box-content-item__slider {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .detail-item__content {
    margin-bottom: 50px;
  }
  .box-content-item__info {
    max-width: 100%;
  }
  .box-content-item__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-box-detail__short-spec {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media (max-width: 768px) {
  .info-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .box-catalog__body.list .box-catalog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-catalog__body.list .box-catalog__item .item-box-catalog__image {
    max-width: 250px;
    margin: 0 auto;
  }
  .box-catalog__body.list .box-catalog__item .item-box-catalog__title {
    max-width: 100%;
    text-align: center;
  }
  .box-catalog__body.list .box-catalog__item .item-box-catalog__price-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .box-catalog__body.list .box-catalog__item .item-box-catalog__add-to-cart {
    padding: 11px 25px;
  }
}
@media (max-width: 670px) {
  .close-callback {
    right: 0px;
  }
  .content-callback-popup {
    padding: 25px;
    max-width: 360px;
  }
  .form-callback__input input {
    width: 250px;
  }
  .form-callback__textarea textarea {
    width: 250px;
  }
  .content-callback-popup__title {
    font-size: 27px;
  }
  .catalog__spoiler {
    max-width: 100%;
  }
  .spoiler-catalog__link {
    max-width: 100%;
  }
  .action-header__search-icon {
    padding-left: 10px;
  }
  .input.active {
    width: 100%;
  }
  .title {
    font-size: 30px;
  }
}
@media (max-width: 580px) {
  .item-services__title {
    max-width: 100%;
  }
  .services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item-services__image {
    position: static;
  }
}
@media (max-width: 420px) {
  .form-contact__inputs {
    grid-template-columns: auto;
  }
}