@media (max-width: 1170px) {
  .mainblock__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detailblock__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__list {
    max-width: 100%;
  }
  .news-popular {
    max-width: 100%;
  }
  .news-popular__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    row-gap: 30px;
  }
  .news-popular__item {
    min-width: 294px;
    max-width: 295px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-subscription__input {
    max-width: 100%;
  }
  .form-subscription__button {
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .item-content__item {
    max-height: 100%;
  }
  .news__item-medium {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .news__item-advanced {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .item-news__content {
    max-width: 100%;
  }
  .item-news__subcontent {
    min-height: 300px;
  }
  .contacts {
    padding: 80px 0;
  }
  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-info__item {
    max-width: 100%;
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 800px) {
  .news__item-simple {
    min-width: 100%;
  }
}
@media (max-width: 645px) {
  .news-popular__title {
    text-align: center;
  }
  .news-popular__items {
    margin: 0 auto;
  }
  .footer__list {
    gap: 19px;
  }
  .contacts__form {
    max-width: 100%;
  }
  .form-contact__button {
    max-width: 100%;
  }
}
@media (max-width: 580px) {
  .contacts__form {
    padding: 25px 30px 30px 30px;
  }
}