@media (max-width:1220px){

}//END MEDIA 1220px

@media (max-width: 1150px) {
    .menu{
         
    &__icon {
        z-index: 55;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        & span,
        &::before,
        &::after{
          left: 0;
          position: absolute;
          width: 100%;
          transition: all 0.3s ease 0s;
        //   background: #000;
        content: url(../img/icons/menu-btn.svg);
        }
        &::before,
        &::after{
          content: "";
        }
        &::before{
          top: 0;
        }
       
        & span{
          top:50%;
          transform:  scale(1) translate(0px, -50%);
        }
        &._active span{
          transform: scale(0) translate(0px, -50%);
        }
        &._active::before{
          top: 50%;
          transform: rotate(-45deg) translate(0px, -50%);
          background: #000;
        }
        &._active::after{
        //   bottom: 50%;
        //   transform: rotate(45deg) translate(0px, 50%);
        //   background: #000;
        content: url(../img/icons/close.svg);
        }
    
        }
    }
    .menu{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
        z-index: 50;
        &._active{
          left: 0;
        }
        &__link{
          color: #000;
        }
 
        &__arrow{
          right: 10%;
        }
       
    }

.menu__list{
    display: flex;
    flex-direction: column;
    gap:45px;
    margin-top: 50px;
}
a.active::after {
    top: -20px;
    padding-top: 20px;
    padding-left: 20px;
    left: auto;
}
}

@media (max-width:992px){
    .cover{
        &__body{
            flex-direction: column-reverse;
        }
        &__image{
            max-width: 350px;
        }
        &__content{
            max-width: 100%;
            text-align: center;
        }
    }
    .content-cover{
        &__link{
            align-self: center;
        }
    }
   .about{
    &__body{
        flex-direction: column;
    }
    &__content{
        max-width: 100%;
    }
   }
   .rooms{
    &__body{
        flex-direction: column;
        align-items: center;
    }
   }
}//END MEDIA 992px

@media (max-width: 823px) {
}//END MEDIA 823px

@media (max-width:670px){
    .content-cover{
        &__title{
            font-size: 85px;
            &::after{
                top: -70%;
            }
        }
    }
    .contacts__info{
        position: static;
        padding: 20px;
        margin-bottom: 50px;
    }
}//END MEDIA 670px





@media (max-width:580px){
    .callback-form__title{
        font-size: 28px;
    }
    .popup__content{
        padding: 40px 10px;
    }
.actions-header__callback{
    display: none;
}
.rooms{
    &__item{
        flex-direction: column-reverse;
    }
   }
}//END MEDIA 580px

@media (max-width:420px){

}//END MEDIA 420px


@media (max-width:280px){

}//END MEDIA 280px


