.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease 0s;
	z-index: 99;
	&.open{
		opacity: 1;
		visibility: visible;

	}
	&.open &__content{
		transform: perspective(600px) translate(0px, 0%) rotate(0deg);
	}
// .popup__body

&__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

// .popup__content

&__content {
	background-color: #fff;
	color: #000;
	max-width: 515px;
	width: 100%;
	padding: 30px;
	position: relative;
	border-radius: 20px;
	//transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

// .popup__close

&__close {
	position: absolute;
	right: 20px;
	top: 20px;
	text-decoration: none;
	cursor: pointer;
}

// .popup__title

&__title {
	margin-bottom: 8px;
}

// .popup__text

&__text {
	 line-height: 162.5%;
	 margin-bottom: 24px;
	 max-width: 419px;
}
}


.popup-callback {


	// .popup-callback__form

	&__form {
		display: flex;
		flex-direction: column;
		gap:16px;
	}
}

.form-callback {

	// .form-callback__input

	&__input {
		background: #F2F2F2;
		border-radius: 100px;
		height: 58px;
		width: 100%;
		padding-left: 24px;
	}

	// .form-callback__btn

	&__btn {
		& button{
			width: 100%;
		}
	}

	// .form-callback__connection

	&__connection {
		display: grid;
		gap:12px;
	}

	// .form-callback__label

	&__label {
		line-height: 162.5%;
		& a{
			color: #FF5C00;
		}
	}
}
.connection-form {

	// .connection-form__body

	&__body {
		display: flex;
		gap:16px;
	}

	// .connection-form__item

	&__item {
	}
	&__title{
	@media (max-width: 768px) {
		margin-bottom: 15px;
	}
	}
}



.connection-form__body .radio-control input {
    display: none;
}

 
.connection-form .radio-control input:checked + .connection-form__radio-input span {
    color: #444444;
    opacity: 1;
    transition: opacity ease 250ms;
}
.conneconnection-form .radio-control input:checked + .connection-form__radio-input:after {
    top: 0;
    right: 20px;
    transform: translateY(-50%);
    animation-name: animation;
    animation-duration: 250ms;
    background-color: #FFF;
    font-size: 25px;

}
.connection-form .radio-control input:checked + .connection-form__radio-input {
	border: 2px solid #ff5c00bd;
	display: flex;
	justify-content: center;
	background: #a6a6a6;
}
.connection-form .radio-control input:checked + .connection-form__radio-input:after,
.connection-form .radio-control input:checked + .connection-form__radio-input i {
    color: #337AB7;
}
@keyframes animation {
    0% {
        transform: translateY(-50%) scale(0);
    }
    75% {
        transform: translateY(-50%) scale(1.3);
    }
    100% {
        transform: translateY(-50%) scale(1);
    }
}
@media screen and (max-width: 768px) {
    .connection-form {
        display: block;
    }
    .connection-form .radio-control {
        width: 100%;
        margin-bottom: 30px;
    }
}
.connection-form__radio-input{
	cursor: pointer;
	 &:hover{
		& svg{
			& rect{
				fill:#FF5C00;
			}
		}
	 }
}

