
@font-face {
	font-family: "FuturaPT";
	src: url("/fonts/FuturaPT-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  }
  @font-face {
	font-family: "FuturaPT";
	src: url("/fonts/FuturaPT-Medium.woff") format("woff");
	font-weight: 450;
	font-style: normal;
	font-display: swap;
  }
@import "nullstyle.scss";
body {
height: 100%;
line-height: 1;
font-size: 18px;
font-family: "FuturaPT";
background: #e7e4e46b;
color: rgba(47, 34, 34, 0.4);
}

._ibg{
	position: relative;
	& img{
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit:cover;
	}
}

.wrapper{
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}

main{
	flex: 1 1 auto;
}

[class*="__container"]{
	max-width: 1440px;
	margin: 0px auto;
	padding: 0 15px;
}
 
.title{
	font-weight: 450;
	line-height: 31px;
	font-size: 24px;
	color: #2F2222;
	position: relative;
	transition: color 0.6s ease 0s;
	&::after{
		content: "";
position: absolute;
bottom: -5px;
left: 0;
width: 0;
transition: width 0.6s ease 0s;
height: 2px;
background: #5D71DD;
	}
	
	&:hover::after{
		width: 100%;
	}
}

/*===========================HEADER========================================*/
.header {
		background-color: #fff;
	// .header__body

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 70px;
	}

	// .header__logo

	&__logo {
	 
	}

	// .header__action

	&__action {
		display: flex;
		align-items: center;
		gap:40px;
	}
	// .header__phone

	&__phone {
		font-size: 18px;
		line-height: 23px;
		color: #5D71DD;
		font-weight: 450;
	}
}
.menu {

	// .menu__list

	&__list {
		display: flex;
		gap:40px;
	}

	// .menu__link

	&__link {
		line-height: 23px;
		color: #2F2222;
		&-active{
			text-decoration: underline;
			color: #5D71DD;
		}
		position: relative;
		transition: color 0.6s ease 0s;
		&::after{
			content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    transition: width 0.6s ease 0s;
    height: 2px;
	background: #5D71DD;
		}
		&:hover{
			color: #5D71DD;
		}
		&:hover::after{
			width: 100%;
		}
	}
}

.cover {
		margin-bottom: 40px;
	// .cover__image
	&__image {	
		max-height: 300px; 	
		overflow: hidden;
		 
		&:hover img{
			transform: scale(1.1);
		}
		& img{
			transition: all 0.3s ease 0s;
			min-height: 300px;
		}
	}
}
//================================MAINBLOCK=======================================
.mainblock {


	// .mainblock__body

	&__body {
		display: flex;
		justify-content: space-between;
		gap:20px;
	}
}
.detailblock {


	// .detailblock__body

	&__body {
		display: flex;
		justify-content: space-between;
		gap:20px;
	}
}
.news {
	&__body{
		display: flex;
		flex-direction: column;
		gap:80px;
	}
	// .news__list

	&__list {
		display: flex;
		flex-direction: column;
		gap:40px;
		max-width: 1040px;
	}
	// .news__pagination

	&__pagination {
	}

	// .news__item-simple

	&__item-simple {
		padding: 40px;
	    background: #FFFFFF;
        border-radius: 20px;
		transition: all 0.5s ease 0s;
		&:hover{
			box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
			cursor: pointer;
		}
	}

	// .news__item-medium

	&__item-medium {
		display: flex;
		gap:40px;
		
	}

	// .news__item-advanced

	&__item-advanced {
		display: flex;
		gap:40px;
	}
}

.detail-info-news{
	gap:20px;
	margin-bottom: 30px;
}
.pagination {
		padding-bottom: 100px;
	// .pagination__body

	&__body {
		display: flex;
		gap:20px;
		align-items: center;
		justify-content: center;
	}
	// .pagination__list

	&__list {
		display: flex;
		gap:20px;
	}

	// .pagination__link

	&__link {
		line-height: 23px;
		color: #000000;
		transition: all 0.5s ease 0s;
		&:hover{
			color: #5D71DD;
		}
		
		// .pagination__link_active

		&_active {
			color: #5D71DD;
			text-decoration: underline;
		}
	}

	// .pagination__next-btn

	&__next-btn {
		line-height: 23px;
		color: #5D71DD;
		padding: 10px 16px;
		background: rgba(93, 113, 221, 0.05);
		border-radius: 8px;
		transition:  all 0.5s ease 0s;
		&:hover{
			background: rgba(93, 113, 221, 0.15);
		}
	}
}
.item-news {

	// .item-news__info

	&__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 17px;
		align-items: center;
	}

	// .item-news__title

	&__title {
		display: inline-block;
		margin-bottom: 20px;
	}

	// .item-news__text

	&__text {
		max-width: 880px;
		line-height: 23px;
	}

	// .item-news__content

	&__content {
		max-width: 680px;
		display: flex;
		gap: 40px;
		flex-direction: column;
	}

	// .item-news__subcontent

	&__subcontent {
		padding: 40px;
		position: relative;
		min-height: 400px;
		background: #5D71DD;
		border-radius: 20px;
		background-repeat: no-repeat;
		background-size: cover;	
		background-position: center;
		transition: all 0.5s ease 0s;
		&:hover{
			box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
			cursor: pointer;
		}
	}
}
.info-news {

	// .info-news__category

	&__category {
		background: rgba(93, 113, 221, 0.05);
		border-radius: 8px;
		padding: 8px 16px;
		//border: 1px solid #0000000f;
		color: #5D71DD;
	}

	// .info-news__date

	&__date {
	}
}

.item-content {

	// .item-content__item

	&__item {
		padding: 40px;
		background: #FFFFFF;
  		border-radius: 20px;
		max-height: 180px;
		transition: all 0.5s ease 0s;
		  &:hover{
			  box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
			  cursor: pointer;
		  }
		&_medium{
			min-height: 400px;
		}
	}
}
.subcontent {

	// .subcontent__item

	&__item {
	  
	}
}
.item-subcontent {

	// .item-subcontent__category

	&__category {
		padding: 8px 16px;
		color: #FFFFFF;
		background: #7D8DE4;
		font-size: 16px;
		line-height: 21px;
		border-radius: 8px;
		margin-bottom: 25px;
		display: inline-block;
		border: 1px solid #0000000f;
		&_advanced{
			background: rgba(255, 255, 255, 0.2);
		}
	}

	// .item-subcontent__title

	&__title {
		max-width: 341px;
		color: #FFFFFF;
	//	margin-bottom: 170px;
		display: block;
		position: relative;
	transition: color 0.6s ease 0s;
	&::after{
		content: "";
position: absolute;
bottom: -5px;
left: 0;
width: 0;
transition: width 0.6s ease 0s;
height: 2px;
background: #ffffff;
	}
	
	&:hover::after{
		width: 100%;
	}
	}

	// .item-subcontent__date

	&__date {
		font-size: 16px;
		line-height: 21px;
		color: #FFFFFF;
		position: absolute;
		bottom: 0;
		padding-bottom: 40px;
	}
}
.popular {

	// .popular__news

	&__news {
		max-width: 320px;
	}
}
.news-popular {

	// .news-popular__body

	&__body {
		display: flex;
		flex-direction: column;
		gap:30px;
		 
	}

	// .news-popular__title

	&__title {
	}

	// .news-popular__items

	&__items {
		display: flex;
		flex-direction: column;
		gap:20px;
	}

	// .news-popular__item

	&__item {
		&:not(:last-child){
			border-bottom: 1px solid rgba(47, 34, 34, 0.1);
		}
		
	}

	// .news-popular__subscription

	&__subscription {
		padding: 30px;
		background: #F5F5F5;
		border-radius: 20px;
	}
}
.item-popular {

	// .item-popular__title

	&__title {
		font-weight: 400;
		font-size: 18px;
		display: inline-block;
		margin-bottom: 10px;
		&:hover{
			color: #5D71DD;;
		}
	}

	// .item-popular__date

	&__date {
		padding-bottom: 10px;
		font-size: 18px;
		line-height: 23px;
		color: rgba(47, 34, 34, 0.4);
	}
}
.subscription {

	// .subscription__title

	&__title {
		text-align: center;
	}

	// .subscription__form

	&__form {
		display: flex;
		flex-direction: column;
		gap:20px;
		& input{
			background: #F9F9F9;
			border-radius: 20px;
			width: 100%;
			height: 49px;
			font-size: 18px;
			line-height: 23px;
			padding: 13px 30px;
			color: rgba(47, 34, 34, 0.4);
			&::placeholder{
				&:focus{
					&::placeholder{
						color: transparent;
						opacity: 0;
					}
				}
			}
		}
	}
}
.form-subscription {

	// .form-subscription__input

	&__input {
		 max-width: 260px;	 
	}

	// .form-subscription__button

	&__button {
		& img{
			padding-left: 10px;
		}
	}
}
.form-btn {
	padding: 13px 68px;
	background: #5D71DD;
	border-radius: 20px;
	color: #FFFFFF;
	line-height: 23px;
	font-size: 18px;
	width: 100%;
	display: flex;
}

//===========================DETAIL======================================
.detail-top-cover{
	margin-top: 40px;
}
.detail-news {

	// .detail-news__body

	&__body {
		display: flex;
		flex-direction: column;
		max-width: 800px;
	}

	// .detail-news__article

	&__article {
		margin-bottom: 40px;
	}

	// .detail-news__cover

	&__cover {
		margin-bottom: 40px;
		overflow: hidden;
		border-radius: 20px;
		&:hover img{
			transform: scale(1.1);
		}
		& img{
			transition: all 0.3s ease 0s;
		}
	}
}


.article-news-detail {

	// .article-news-detail__title

	&__title {
		display: inline-block;
		margin-bottom: 30px;
	}

	// .article-news-detail__text

	&__text {
		margin-bottom: 20px;
		line-height: 23px;
		color: #000;
	}

	// .article-news-detail__more-row

	&__more-row {
		display: flex;
		gap:40px;
		flex-wrap: wrap;
	}
}

.row-more {

	// .row-more__article

	&__article {
		display: flex;
		flex-direction: column;
	}

	// .row-more__text

	&__text {
		margin-bottom: 20px;
		line-height: 23px;
		color: #000;
		max-width: 440px;
	}

	// .row-more__item

	&__item {
		max-width: 320px;
	}
}
.item-row-more {

	// .item-row-more__image

	&__image {
		margin-bottom: 10px;
		border-radius: 20px;
		overflow: hidden;
		&:hover img{
			transform: scale(1.1);
		}
		& img{
			transition: all 0.3s ease 0s;
		}
	}

	// .item-row-more__text

	&__text {
		font-size: 14px;
		line-height: 18px;
		color: #000;
	}
}
 









//===========================FOOTER==============================================
.footer {
		max-height: 273px;
		background: rgba(93, 113, 221, 0.05);
		padding: 40px 0;
	// .footer__body

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		//min-height: 273px;
	}
	&__logo{
		margin-bottom: 40px;
	}
	// .footer__list

	&__list {
		display: flex;
		gap:80px;
		flex-wrap: wrap;
		margin-bottom: 65px;
		justify-content: center;
	}

	// .footer__link

	&__link {
		color: #2F2222;
		line-height: 23px;
	}

	// .footer__copy

	&__copy {
		font-size: 14px;
		line-height: 18px;
		color: #2F2222;
	}
}



@import "media.scss";
@import "burger.scss";
//grid-template-columns: repeat( auto-fit, minmax(236px, 1fr) );