@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #163A24;
  background: #fff;
}

._ibg {
  position: relative;
}
._ibg img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1215px;
  margin: 0px auto;
  padding: 0 15px;
}

/*===========================HEADER========================================*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__body {
  min-height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.log__in {
  line-height: 22px;
  color: #FBFAF7;
}

.phone {
  line-height: 22px;
  color: #FBFAF7;
}

.main__btn {
  background: #198C36;
  border-radius: 160px;
  padding: 15px 25px;
  line-height: 22px;
  color: #FBFAF7;
  font-size: 16px;
}

.title {
  font-family: "Recoleta";
  font-weight: 600;
  font-size: 48px;
  line-height: 112%;
  text-align: center;
  color: #163A24;
}

/*===========================page-cover========================================*/
.page-cover {
  background: #163A24;
  padding: 100px 0 0 0;
}

.page-cover__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cover__description {
  padding: 120px 0;
  max-width: 470px;
}

.page-cover__title {
  font-family: "Recoleta";
  font-weight: 600;
  font-size: 48px;
  line-height: 136%;
  color: #FBFAF7;
  margin: 0 0 20px 0;
}

.page-cover__text {
  font-size: 18px;
  line-height: 150%;
  color: #FBFAF7;
}

.page-play {
  padding: 120px 0 0 0;
}

.column-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-play {
  padding: 110px 98px;
  max-width: 580px;
}
.item-play > *:not(:last-child) {
  margin: 0 0 27px 0;
}

.item-play__title {
  font-family: "Recoleta";
  font-weight: 600;
  font-size: 48px;
  line-height: 112%;
  color: #163A24;
}

.item-play__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #163A24;
}

.page-partners {
  padding: 120px 0;
}

.page-partners__title {
  padding: 0 0 65px 0;
}

.page-partners__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85px;
  padding: 0 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-production {
  background: #163A24;
  padding: 65px 0 120px 0;
}

.page-production__title {
  color: #fff;
}

.page-production__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 65px 0 0 0;
}

.item-production__title {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FBFAF7;
}

.item-production__text {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FBFAF7;
}

.item-production__image {
  text-align: center;
  padding: 0px 0 35px 0;
}

.page-casting {
  background: #F2EFE6;
  padding: 120px 0 0 0;
}

._subtitle {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #163A24;
  padding: 25px 0 0 0;
}

.page-casting__image {
  padding: 0 0 135px 0;
}

.page-casting__label {
  padding: 0 200px;
}

.page-how {
  padding: 180px 0 120px 0;
}

.page-how__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-how {
  padding: 95px 98px;
  max-width: 580px;
}
.item-how > *:not(:last-child) {
  margin: 0 0 27px 0;
}

.item-how__title {
  font-family: "Recoleta";
  font-weight: 600;
  font-size: 48px;
  line-height: 112%;
  color: #163A24;
}

.item-how__text {
  font-size: 18px;
  line-height: 150%;
  color: #163A24;
}

.page-hr {
  padding: 0 0 120px 0;
}

.page-hr__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 0 0;
}

.item-hr {
  padding: 0 0 0 50px;
  background: #FBFAF7;
  -webkit-box-shadow: 5px 5px 20px #c5c3bb;
          box-shadow: 5px 5px 20px #c5c3bb;
  border-radius: 15px;
}
 

.item-hr__image {
  text-align: left;
  padding: 50px 0 20px 0;
}

.item-hr__title {
  font-family: "Recoleta";
  font-weight: 600;
  font-size: 28px;
  line-height: 112%;
  color: #163A24;
  max-width: 285px;
  padding: 0 0 23px 0;
}

.page-hr__subtitle {
  margin: 0 0 23px;
}

.item-hr__list {
  padding: 0 0 0 20px;
}

.hr-list__item {
  font-size: 16px;
  line-height: 22px;
  color: #163A24;
  padding: 0 0 15px 0;
  list-style-type: circle;
}

.page-easy {
  background: #F2EFE6;
  padding: 0 0 120px 0;
}

.page-easy__title {
  padding: 120px 0 0 0;
}

.page-easy___body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85px;
  padding: 70px 0 50px 0;
}

.item-easy {
  max-height: 130px;
  text-align: center;
}

.item-easy__title {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #163A24;
  padding: 0 0 20px 0;
}

.item-easy__value {
  font-family: "Recoleta";
  font-weight: 600;
  font-size: 28px;
  line-height: 112%;
  text-align: center;
  color: #163A24;
}

.easy__item1-content {
  padding: 0 30px 0 0;
}
.easy__item1-content:after {
  content: url("../img/easy/01.svg");
  position: absolute;
}

.easy__item2-content {
  padding: 0 30px 0 0;
}
.easy__item2-content:after {
  content: url("../img/easy/02.svg");
  position: absolute;
}

._third-item:after {
  content: url("../img/easy/03.svg");
  position: relative;
  bottom: 155px;
}

.page__button {
  text-align: center;
}

.page-ebook {
  padding: 120px 0;
}

.page-ebook__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-ebook {
  padding: 95px 98px;
  max-width: 580px;
}
.item-ebook > *:not(:last-child) {
  margin: 0 0 27px 0;
}

.item-ebook__title {
  font-family: "Recoleta";
  font-weight: 600;
  font-size: 48px;
  line-height: 112%;
  color: #163A24;
}

.item-ebook__text {
  font-size: 18px;
  line-height: 150%;
  color: #163A24;
}

.page-get {
  background: #163A24;
}

.page-get__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-get {
  max-width: 550px;
}

.item-get__title {
  color: #FBFAF7;
}

.item-get__text {
  color: #FBFAF7;
  margin: 0 0 40px 0;
}

.pink {
  background: #FAB5A0;
  color: #163A24;
  font-weight: 600;
}

.page-stay {
  background: #F2EFE6;
}

.page-stay__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 0;
}

.item-stay__title {
  font-family: "Recoleta";
  font-weight: 600;
  font-size: 48px;
  line-height: 112%;
  color: #163A24;
  padding: 0 0 30px 0;
}

.item-stay__text {
  font-size: 18px;
  line-height: 150%;
  color: #163A24;
}

.stay-action {
  max-width: 525px;
}

.stay-form input {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #F2EFE6;
  border-radius: 255px;
  width: 510px;
  height: 54px;
}

.item-stay__label {
  padding: 15px 0 0 0;
  font-size: 14px;
  line-height: 150%;
  color: #163A24;
}

.form-btn {
  position: relative;
  left: 85%;
}

.stay__link {
  color: #198C36;
  padding: 0 0 0 10px;
}

.footer__top {
  padding: 25px 0 45px 0;
  border-bottom: 1px solid #dbd8cf;
}

.footer-top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top__title {
  font-family: "Recoleta";
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #163A24;
}

.footer-top__social a:not(:last-child) {
  margin: 0 15px 0 0;
}

.footer__bottom {
  padding: 40px 0 15px 0;
}

.footer-bottom__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__copy {
  font-size: 14px;
  line-height: 150%;
  color: #163A24;
}

.footer-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer-bottom__link {
  font-size: 14px;
  line-height: 19px;
  color: #198C36;
}

@media (max-width: 1230px) {
  .cover__description {
    max-width: 340px;
  }
  .stay-form {
    padding: 0 40px 0 0;
  }
}
@media (max-width: 1170px) {
  .page-partners {
    padding: 60px 0;
  }
  .page-partners__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
  }
}
@media (max-width: 1090px) {
  .page-cover__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cover__description {
    max-width: 840px;
    text-align: center;
    padding: 80px 0 0 0;
  }
  .column-play {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-play {
    padding: 0px 0 0 0;
  }
  .item-play {
    padding: 30px 15px;
    max-width: 100%;
    text-align: center;
  }
  .reverse-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-production__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-casting {
    padding: 60px 0 0 0;
  }
  .page-casting__label {
    padding: 0px;
  }
  .page-casting__subtitle {
    font-size: 15px;
    padding: 25px 0 40px 0;
  }
  .page-casting__image {
    padding: 0 0 50px 0;
  }
  .page-how {
    padding: 60px 0 60px 0;
  }
  .page-how__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item-how {
    padding: 30px 15px;
    max-width: 100%;
    text-align: center;
  }
  .page-hr__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .page-easy___body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0 30px 0;
  }
  .item-easy__title {
    font-weight: 600;
  }
  .easy__item1-content {
    padding: 0px;
  }
  .easy__item1-content:after {
    content: "";
  }
  .easy__item2-content {
    padding: 0px;
  }
  .easy__item2-content:after {
    content: "";
  }
  ._third-item:after {
    content: "";
  }
  .page-ebook {
    padding: 60px 0 60px 0;
  }
  .page-ebook__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item-ebook {
    padding: 30px 15px;
    max-width: 100%;
    text-align: center;
  }
  .page-stay__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  .item-stay__label {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .page-get__image {
    display: none;
  }
  .page-get__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0;
  }
  .footer-bottom__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 823px) {
  .main__btn {
    padding: 7px 15px;
  }
  .header__info {
    font-size: 12px;
    gap: 10px;
  }
  .stay-form input {
    position: static;
    background: #FFFFFF;
    border: 1px solid #F2EFE6;
    border-radius: 255px;
    width: 410px;
    height: 54px;
  }
  .form-btn {
    position: static;
    left: 0;
  }
  .stay-form {
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .item-play__title {
    font-size: 35px;
  }
  .item-play__text {
    font-size: 14px;
  }
  .item-how__title {
    font-size: 35px;
  }
  .item-how__text {
    font-size: 14px;
  }
}
@media (max-width: 670px) {
  .page-cover__title {
    font-size: 35px;
  }
  .page-cover__text {
    font-size: 16px;
  }
  .item-stay__title {
    font-size: 35px;
  }
  .stay-form {
    text-align: center;
  }
  .stay-form input {
    width: 265px;
    height: 40px;
  }
  .item-stay__label {
    font-size: 12px;
  }
}
@media (max-width: 580px) {
  .title {
    font-size: 35px;
  }
  .item-stay__title {
    padding: 0 0 15px 0;
  }
  .footer-bottom__link {
    font-size: 9px;
  }
  .footer-top__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 420px) {
  .main__btn {
    padding: 3px 5px;
    font-size: 12px;
  }
  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 3px;
  }
  .phone {
    text-decoration: underline;
    font-weight: bold;
  }
  .footer-bottom__copy {
    text-align: center;
  }
}
@media (max-width: 380px) {
  .item-stay {
    text-align: center;
  }
  .item-stay__text {
    font-size: 16px;
  }
  .stay-form input {
    width: 200px;
    height: 40px;
  }
}
.header__burger {
  display: none;
}

@media (max-width: 823px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
    margin: 10px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    background: #fff;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    background: #fff;
  }
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
    padding: 130px 0px 0px 0px;
    text-align: center;
    z-index: 3;
  }
  .header__menu.active {
    right: 0;
  }
  .menu__list {
    display: block;
    left: -4%;
    margin: 0 0 80px 0;
  }
  .menu__link {
    color: #fff;
    font-size: 30px;
    line-height: 90px;
    text-transform: uppercase;
    font-weight: 900;
  }
}
@media (max-width: 440px) {
  .menu__link {
    font-size: 30px;
  }
}