@media (min-width: 1100px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
        -ms-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__arrow {
    display: none;
  }
  .menu__sub-logo {
    display: none;
  }
}
@media (max-width: 1100px) {
  .header__bottom {
    min-height: 0px;
  }
  .bottom-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .sub-menu-top-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .sub-menu-top-header__link {
    color: inherit;
  }
}
@media (max-width: 992px) {
  .cover__body {
    text-align: center;
  }
  .cover__social {
    display: none;
  }
  .cover__sub-content {
    text-align: left;
  }
}
@media (max-width: 580px) {
  .top-header__callback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}